__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.so

# Archives
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.tar.zst
*.7z
*.rar
*.lz
*.lzma
*.zst
*.gz
*.bz2
*.xz
*.cab
*.iso
*.dmg
*.ar
*.cpio
*.whl
